In [71]:
import pandas as pd

df_final_exp = pd.read_csv("df_final_experiment_clients.csv")
df_final_exp.rename(columns={"Variation" : "variation"}, inplace=True)

In [72]:
null_values = df_final_exp["variation"].isnull().sum()
not_null_values = df_final_exp["variation"].count()

print(f"""
Not null 'variation' values = {not_null_values} 
Null 'variation' values = {null_values}
      """)

Not null 'variation' values = 50500
Null 'variation' values = 20109

In [77]:
df_final_exp.shape

(50500, 2)

In [74]:
df_final_exp = df_final_exp.dropna(subset=["variation"])

In [75]:
df_final_exp["variation"] = df_final_exp["variation"].replace({'Control': 0, 'Test': 1})

C:\Users\Iván\AppData\Local\Temp\ipykernel_20948\4068042311.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_final_exp["variation"] = df_final_exp["variation"].replace({'Control': 0, 'Test': 1})
C:\Users\Iván\AppData\Local\Temp\ipykernel_20948\4068042311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_exp["variation"] = df_final_exp["variation"].replace({'Control': 0, 'Test': 1})

In [76]:
df_final_exp

       client_id  variation
0        9988021          1
1        8320017          1
2        4033851          0
3        1982004          1
4        9294070          0
...          ...        ...
50495     393005          0
50496    2908510          0
50497    7230446          1
50498    5230357          1
50499    6334360          1

[50500 rows x 2 columns]