In [75]:
import pandas as pd

df_web_data1 = pd.read_csv("df_final_web_data_pt_1.csv")
df_web_data2 = pd.read_csv("df_final_web_data_pt_2.csv")

df_web_data_concat = pd.concat([df_web_data1, df_web_data2], axis=0, join='inner')

In [76]:
df_web_data_concat.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [77]:
val_count = df_web_data_concat.count()         # Valores totales
val_count

client_id       755405
visitor_id      755405
visit_id        755405
process_step    755405
date_time       755405
dtype: int64

In [78]:
df_web_data_concat.nunique()

client_id       120157
visitor_id      130236
visit_id        158095
process_step         5
date_time       629363
dtype: int64

In [80]:
df_web_data_concat["process_step"] = df_web_data_concat["process_step"].replace({'start' : 0, 'step_1' : 1, 'step_2' : 2, 'step_3' : 3, 'confirm' : 4})

C:\Users\Iv√°n\AppData\Local\Temp\ipykernel_38456\4249500148.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_web_data_concat["process_step"] = df_web_data_concat["process_step"].replace({'start' : 0, 'step_1' : 1, 'step_2' : 2, 'step_3' : 3, 'confirm' : 4})

In [81]:
df_web_data_concat.count() - df_web_data_concat.notna().sum()       # Sin valores nulos

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64