In [7]:
import pandas as pd

# Cargar los datos
df_demo = pd.read_csv('df_final_demo.csv')
df_web_pt1 = pd.read_csv('df_final_web_data_pt_1.csv')
df_web_pt2 = pd.read_csv('df_final_web_data_pt_2.csv')
df_experiment = pd.read_csv('df_final_experiment_clients.csv')

# Mostrar las primeras filas de cada dataset
print(df_demo.head())
print(df_web_pt1.head())
print(df_web_pt2.head())
print(df_experiment.head())

   client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
0     836976             6.0              73.0      60.5     U        2.0
1    2304905             7.0              94.0      58.0     U        2.0
2    1439522             5.0              64.0      32.0     U        2.0
3    1562045            16.0             198.0      49.0     M        2.0
4    5126305            12.0             145.0      33.0     F        2.0

         bal  calls_6_mnth  logons_6_mnth
0   45105.30           6.0            9.0
1  110860.30           6.0            9.0
2   52467.79           6.0            9.0
3   67454.65           3.0            6.0
4  103671.75           0.0            3.0
   client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04
   client_id             visitor_id                      visit_id  \
0     763412  601952081_10457207388  397475557_40440946728_419634
1    6019349  442094451_91531546617  154620534_35331068705_522317
2    6019349  442094451_91531546617  154620534_35331068705_522317
3    6019349  442094451_91531546617  154620534_35331068705_522317
4    6019349  442094451_91531546617  154620534_35331068705_522317

  process_step            date_time
0      confirm  2017-06-06 08:56:00
1      confirm  2017-06-01 11:59:27
2       step_3  2017-06-01 11:58:48
3       step_2  2017-06-01 11:58:08
4       step_1  2017-06-01 11:57:58
   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [8]:
# Resumen estadístico
print(df_demo.describe())
print(df_web_pt1.describe())
print(df_web_pt2.describe())
print(df_experiment.describe())

# Tipos de datos y valores nulos
print(df_demo.info())
print(df_web_pt1.info())
print(df_web_pt2.info())
print(df_experiment.info())

          client_id  clnt_tenure_yr  clnt_tenure_mnth      clnt_age  \
count  7.060900e+04    70595.000000      70595.000000  70594.000000
mean   5.004992e+06       12.052950        150.659367     46.442240
std    2.877278e+06        6.871819         82.089854     15.591273
min    1.690000e+02        2.000000         33.000000     13.500000
25%    2.519329e+06        6.000000         82.000000     32.500000
50%    5.016978e+06       11.000000        136.000000     47.000000
75%    7.483085e+06       16.000000        192.000000     59.000000
max    9.999839e+06       62.000000        749.000000     96.000000

          num_accts           bal  calls_6_mnth  logons_6_mnth
count  70595.000000  7.059500e+04  70595.000000   70595.000000
mean       2.255528  1.474452e+05      3.382478       5.566740
std        0.534997  3.015087e+05      2.236580       2.353286
min        1.000000  1.378942e+04      0.000000       1.000000
25%        2.000000  3.734683e+04      1.000000       4.000000
50%        2.000000  6.333290e+04      3.000000       5.000000
75%        2.000000  1.375449e+05      6.000000       7.000000
max        8.000000  1.632004e+07      7.000000       9.000000
          client_id
count  3.431410e+05
mean   4.996097e+06
std    2.875839e+06
min    1.690000e+02
25%    2.506067e+06
50%    5.007915e+06
75%    7.468519e+06
max    9.999839e+06
          client_id
count  4.122640e+05
mean   5.028227e+06
std    2.881828e+06
min    3.360000e+02
25%    2.533952e+06
50%    5.056314e+06
75%    7.516792e+06
max    9.999875e+06
          client_id
count  7.060900e+04
mean   5.004992e+06
std    2.877278e+06
min    1.690000e+02
25%    2.519329e+06
50%    5.016978e+06
75%    7.483085e+06
max    9.999839e+06
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     343141 non-null  int64
 1   visitor_id    343141 non-null  object
 2   visit_id      343141 non-null  object
 3   process_step  343141 non-null  object
 4   date_time     343141 non-null  object
dtypes: int64(1), object(4)
memory usage: 13.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412264 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     412264 non-null  int64
 1   visitor_id    412264 non-null  object
 2   visit_id      412264 non-null  object
 3   process_step  412264 non-null  object
 4   date_time     412264 non-null  object
dtypes: int64(1), object(4)
memory usage: 15.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB
None

In [9]:
# Duplicados
print(f"Duplicados en df_demo: {df_demo.duplicated().sum()}")
print(f"Duplicados en df_web_pt1: {df_web_pt1.duplicated().sum()}")
print(f"Duplicados en df_web_pt2: {df_web_pt2.duplicated().sum()}")
print(f"Duplicados en df_experiment: {df_experiment.duplicated().sum()}")

# Valores nulos
print(df_demo.isnull().sum())
print(df_web_pt1.isnull().sum())
print(df_web_pt2.isnull().sum())
print(df_experiment.isnull().sum())

Duplicados en df_demo: 0
Duplicados en df_web_pt1: 2095
Duplicados en df_web_pt2: 8669
Duplicados en df_experiment: 0
client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64
client_id        0
Variation    20109
dtype: int64

In [ ]:
#Unión de los Conjuntos de Datos Web
df_web_combined = pd.concat([df_web_pt1, df_web_pt2], ignore_index=True)
print(df_web_combined.info())